html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

/* Header fijo en la parte superior */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #000;
    height: 60px;
}

/* Ajustamos el margen del contenido para que no se superponga con el header */
main {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 100px;
}

/* Footer fijo en la parte inferior */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #000;
    height: 100px;
    text-align: center;
    color: white;
    line-height: 30px;
}

/* Estilo del contenido principal */
.content {
    z-index: 1;
    position: relative;
    background: url('../img/ondas-animadas.gif') no-repeat center center fixed;
    background-size: 100% 83%;
}

/* Estilo de la imagen redondeada */
img.rounded-circle {
    border: 5px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Botones de contacto */
.btn-outline-light {
    margin-top: 10px;
    width: 220px;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

/* Ajustar espaciado para móviles */
@media only screen and (max-width: 768px) {
    img.rounded-circle {
        width: 300px;
        height: 300px;
    }
}
