html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Permitir el desplazamiento vertical */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

/* Header fijo en la parte superior */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #000;
    height: 60px; /* Ajustamos la altura del header */
}

/* Ajustamos el margen del contenido para que no se superponga con el header */
main {
    margin-top: 80px; /* Espacio para evitar que el contenido se superponga con el header */
    padding-top: 20px; /* Espacio adicional debajo del header */
    padding-bottom: 100px; /* Espacio para el footer */
}

/* Footer fijo en la parte inferior */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #000;
    height: 100px; /* Altura del footer ajustada */
    text-align: center;
    color: white;
    line-height: 30px; /* Centrado verticalmente */
}

/* Estilo del contenido principal */
.content {
    z-index: 1; /* Para que el contenido esté debajo del header y footer */
    position: relative;
    background: url('../img/ondas-animadas.gif') no-repeat center center fixed;
    background-size: 100% 83%;
}

/* Ajustes para los elementos de la lista de experiencia */
.list-group-item {
    padding: 20px;
    background-color: #222; /* Fondo oscuro para los elementos de la lista */
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

/* Ajuste de los textos dentro de cada bloque de experiencia */
.list-group-item h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.list-group-item p {
    margin-bottom: 0.3rem;
}

.list-group-item small {
    color: #ccc; /* Texto más claro para las descripciones adicionales */
}

/* Estilo para las imágenes de las empresas */
.list-group-item img {
    margin-right: 20px;
    border-radius: 8px;
}

/* Ajuste de los botones de navegación */
.btn-outline-light {
    margin-top: 20px;
}

/* Animación hover para botones de navegación */
.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
